.footercomp {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    background-color: rgb(44, 43, 43);
    padding: 20px 40px;
}

.aboutcomp1 {
    width: 30%;
    color: white;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    /* font-family: 'Courier New', Courier, monospace; */
}

@media screen and (max-width:500px) {
    .footercomp {
        display: block;
    }

    .aboutcomp1 {
        width: 100%;
        margin-top: 20px;
    }

}