.StatusComp {
    padding-top: 100px;
    padding-bottom: 100px;
}


.single {
    width: 100%;
    cursor: pointer;
}

.single img {
    max-width: 100%;
    height: 150px;
    resize: both;
}

.single img:hover {
    transform: scale(1.02);
}