.ContactComp{
    background-color: #1a1a1a;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 20vh;
}